
<div class="choicesHeader">
	<div>Wilderness Quiz Site:<br><span>Test Your Backpacking Knowledge</span>
	</div>
	<br>Quiz ID: {{Data}}
	<br>User ID: {{userId}}
</div>
	
<div class="choices">
	<h1>Answer Summary:</h1>
	<ul class="reviewChoices" ng-repeat="select in selections">
		<li id="correct">{{$index + 1}}.   {{select.isCorrect}}</li>
			<ul>
				<li><strong>The question was:</strong>{{select.question}}</li>
				<div ng-model="select.isCorrect" ng-hide="select.isCorrect == 'CORRECT'">
					<li><strong>Correct Answer:</strong>{{select.answer}}</li>
				</div>
				
				<li><strong>You Selected:</strong>{{select.selectedAnswer}}</li>
				<li id="SupportData">{{select.supportData}}</li>
			</ul>
	</ul>	
</div>