<div class="bg"></div>
<div class="grad"></div>
<div class="header">

	<div>Wilderness Quiz Site:  <br><span>Test Your Backpacking Knowledge</span></div>

</div>
    <div class="row">
        <input type="text" ng-model="email" placeholder="email log on" />
        <input type="password" ng-model="password" placeholder="password"/>
        <input type="button" value="Log In" ng-click="clickLogin()"><br><br>
        <input type="button" value="Register" ng-click="clickRegister()">
        <h4>First Time Users Please Register.</h4>
</div>
</body>