<div class="body2"></div>
<div class="grad"></div>
<div class="header">

    <div>Wilderness Quiz:  <br><span>Select Option</span></div>
</div>

  <div class="row">
    <h3>Menu Item</h3>
    
<nav>
    <ul class="row">
        <li>
            <a href="/views/question-view.html"/>Create Questions and Answers</a>
        </li>
        <li>
         	  <a href="/views/quiz-view.html"/>Take Quiz</a>
        </li> 
        <li>
            <a href="/views/question-view.html"/>Update Questions and Answers</a>
        </li>   
        <li>
            <a href="/views/profile-view.html"/>Update Profile</a>
        </li>
        
    </ul>
</nav>