<div class="navBody">
	<div class="navHeader">

	    <div>Wilderness Quiz:  <br><span>Test Your Wilderness Knowledge</span></div>
	</div>

	<div class="navBar">
	    <h1>Select Option</h1>
	
	    <input type="button" value="Take Backpacking Quiz" ng-click="selectQuizForm()" autofocus/>

	<!--     <input type="button" value="Take Rock Climbing Quiz" ng-click="alert('Under Construction')"/> -->

	    <input type="button" value="Create Quiz Questions/Answers" ng-click="selectQuestionForm()"/>

	</div>
</div>