<div class="navBody">
	<div class="navHeader">

	    <div>Wilderness Quiz:  <br><span>Select Option</span></div>
	</div>

	<div class="navBar">
	    <h1>Menu Item</h1>
	    <input type="button" value="Create Questions/Answers" ng-click="selectQuestionForm()" />
	    <input type="button" value="Take Quiz" ng-click="selectQuizForm()" />
	    <input type="button" value="Update Questions/Answers" ng-click="selectUpdateQuestionForm()" />
	    <input type="button" value="Update Profile" ng-click="selectUpdateProfileForm()" />
	</div>
</div>