<div class="grad"></div>
<div class="header">

    <div>Wilderness Quiz Site:  <br><span>Test Your Backpacking Knowledge</span></div>

</div>
    <div class="row">
        <h1>MY PROFILE:</h1>
        <input type="text" placeholder="Enter Full Name" ng-model="fullName">
        <input type="text" placeholder="Enter Email" ng-model="email">
        <input type="text" placeholder="Enter password" ng-model="password">
        <input type="text" placeholder="Enter Gender" ng-model="gender">
        <input type="text" placeholder="Enter Age" ng-model="age">
        <input type="text" placeholder="Enter Bio" ng-model="bio">
        <button class="button" ng-click="clickRegister()">Save</button>
    </div>

<div class="image">
  <img src="./img/navBar.jpg" alt="">
</div>