<div id="bg">
  <img src="./img/profile.jpg" alt="">
</div>
<div class="grad"></div>
<div class="header">

    <div>Wilderness Quiz Site:  <br><Span>Profile Page</Span></div>

</div>
    <div class="row">
        <h1>MY PROFILE:</h1>
        <input type="text" placeholder="Enter Full Name -- required field" ng-model="fullName"/>
        <input type="email" placeholder="Enter Email -- required field" ng-model="email" />
        <input type="text" placeholder="Enter password -- required field" ng-model="password" />
        <input type="text" placeholder="Enter Gender" ng-model="gender" />
        <input type="text" placeholder="Enter Age" ng-model="age" />
        <input type="text" placeholder="Enter Bio" ng-model="bio" />
        <button class="button" ng-click="clickRegister()">Save</button>
    </div>