<div class="questionBody">
	<div class="questionHeader">

		<div>Wilderness Quiz Site:  <br><span>Select Option</span>
		</div>
		<h2>Create Questions and Answers</h2>

	</div>
	<div class="question">
		<input type="text" ng-model="question" placeholder="write a question..."/>
		<input type="text" ng-model="answer" placeholder="write the correct answer..."/>
		<input type="text" ng-model="badAnswer1" placeholder="write an incorrect answer..."/>
		<input type="text" ng-model="badAnswer2" placeholder="write an incorrect answer..."/>
		<input type="text" ng-model="badAnswer3" placeholder="write an incorrect answer..."/>
		<input type="text" ng-model="supportData" placeholder="write the supporting data..."/>
		<input type="text" ng-model="image" placeholder="save image (i.e. = ./img/3-postureView.jpg"/>
		<button class="question-btn"ng-click="clickSaveQuestion()" onClick="alert('enter your next question and answers')">Save</button>
		<button class="question-btn" ng-click="clickUpDate()">Update</button>
	</div>
</div>