<div class="questionBody">
	<div class="questionHeader">

		<div>Wilderness Quiz Site:  <br><span>Create Questions and Answers</span>
		</div>

	</div>
	<div class="question">
	<div class="question">
		<input type="text" ng-model="_id" placeholder="ID-test"/>
		<input type="text" ng-model="question" placeholder="write a question..."/>
		<input type="text" ng-model="answer" placeholder="write the correct answer..."/>
		<input type="text" ng-model="badAnswer1" placeholder="write an incorrect answer..."/>
		<input type="text" ng-model="badAnswer2" placeholder="write an incorrect answer..."/>
		<input type="text" ng-model="badAnswer3" placeholder="write an incorrect answer..."/>
		<input type="text" ng-model="supportData" placeholder="write the supporting data..."/>
		<input type="text" ng-model="image" placeholder="save image (i.e. = ./img/3-postureView.jpg"/>
		<button class="question-btn" ng-click="clickSaveQuestion()" onClick="alert('Enter Your Next Question and Answers')">Save</button>
		<br>
		<h2>Make Changes to Questions and Answer Records</h2>
		<button class="question-btn" ng-click="clickGetQA()">Find</button>
		<button class="question-btn" ng-click="clickNextRecord()">Next</button>
		<button class="question-btn" ng-click="clickUpdateRecord()">Update</button>
	</div>
</div>