<div class="choicesHeader">
	<div>Wilderness Quiz Site:<br><span>Test Your Backpacking Knowledge</span>
	</div>
</div>

<div class="choicesScore">
    <p ng-repeat="userSelection in filtered = (selections | filter:isCorrectFilter)"></p>
    Your Score Is: {{filtered.length}} Out of {{selections.length}}
    <br>
	feedback:{{totalCorrectAnwers}}
</div>

<div class="choices">
	<h1>Answer Summary:</h1>
	<ul class="reviewChoices" ng-repeat="select in selections">
		<li class="choicesCorrect">{{$index + 1}}.  {{select.isCorrect | uppercase}}</li>
			<ul>
				<li><strong>The question was:</strong>{{select.question}}</li>

				<div ng-model="select.isCorrect" ng-hide="select.isCorrect == 'correct'">
					<li><strong>Correct Answer:</strong>{{select.answer}}</li>
				</div>
				
				<li><strong>You Selected:</strong>{{select.selectedAnswer}}</li>
				<li class="choicesSupportData">{{select.supportData}}</li>
			</ul>
	</ul>

	<input class="choices-btn" type="button" value="Retake Quiz" ng-click="retakeTestClick()"/>	
</div>