@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body{
	margin: 0;
	padding: 0;
	background: #fff;
	color: #772B2B
	font-family: Arial;
	font-size: 12px;
}
/* .body{ css code left in as an example for inserting an image*/
.body{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background-image: url("./img/login.jpg");
	background-size: cover;
	z-index: 0;
	background-attachment: fixed; 
}

.body1{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background-image: url("./img/navBar.jpg");
	background-size: cover;
	z-index: 0;
	background-attachment: fixed; 
}

.body2{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background-image: url("./img/question.jpg");
	background-size: cover;
	z-index: 0;
	background-attachment: fixed; 
}

#bg {
	position: fixed; 
	top: -50%; 
	left: -50%; 
	width: 200%; 
	height: 200%;
}
#bg img {
  position: absolute; 
  	top: 0; 
  	left: 0; 
  	right: 0; 
  	bottom: 0; 
  	margin: auto; 
  	min-width: 50%;
  	min-height: 50%;
   	width: auto; 
  	height: auto;
}

.grad{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	z-index: 1;
	opacity: 0.7;
}

.header{
	position: absolute;
	top: calc(20% - 40px);
	left: calc(35% - 260px);
	font-weight: bold;
	z-index: 2;
}
.header div{
	float: left;
	color: #835C3B;
	font-family: 'Exo', sans-serif;
	font-size: 40px;
	font-weight: 250;
}

.header div span{
	color: #3B6182 !important;
}

.row{
	position: absolute;
	top: calc(50% - 75px);
	left: calc(50% - 50px);
	height: 150px;
	width: 350px;
	padding: 10px;
	font-weight: bold;
	z-index: 2;
}
.row h1{
	color: #000080;
	font-family: 'Exo', sans-serif;
	font-size: 25px;
	font-weight: 500;
}

.row input[type=text]{
	width: 250px;
	height: 30px;
	background: #F7F7F0;
	border: 1px solid #835C3B;
	border-radius: 2px;
	color: #3B6182;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	padding: 4px;
	margin-top: 10px;
}

.row input[type=password]{
	width: 250px;
	height: 30px;
	background: #F7F7F0;
	border: 1px solid #835C3B;
	border-radius: 2px;
	color: #3B6182;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.row input[type=email]{
	width: 250px;
	height: 30px;
	background: #F7F7F0;
	border: 1px solid #835C3B;
	border-radius: 2px;
	color: #3B6182;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.row input[type=button]{
	width: 260px;
	height: 35px;
	background: #FFF;
	border: 1px solid #3B6182;
	cursor: pointer;
	border-radius: 2px;
	color: #835C3B;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.row input[type=button]:hover{
	opacity: 0.8;
}

.row input[type=button]:active{
	opacity: 0.6;
}

.row input[type=text]:focus{
	outline: none;
	border: 1px solid #3B6182;
}

.row input[type=password]:focus{
	outline: none;
	border: 1px solid #3B6182;
}

.row input[type=button]:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: #835C3B;
}

::-moz-input-placeholder{
   color: #835C3B;
}