@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body{
	width: auto;
	height: auto;
	padding: 10px:;
	background-color: #EDC9AF;
	font-family: 'Exo', sans-serif;
}

/* -------- login view -------- */

.loginBody{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background-image: url("./img/login.jpg");
	background-size: cover;
	z-index: 0;
	background-attachment: fixed; 
}

.header{
	position: absolute;
	top: calc(20% - 40px);
	left: calc(35% - 260px);
	font-weight: bold;
	z-index: 2;
}

.header div{
	float: left;
	color: #835C3B;
	font-size: 40px;
	font-weight: 250;
}

.header div span{
	color: #3B6182 !important;
}

.login-container{
	position: absolute;
	top: calc(50% - 75px);
	left: calc(50% - 50px);
	height: 150px;
	width: 350px;
	padding: 10px;
	font-weight: bold;
	z-index: 2;
}

.login-container input[type=password]{
	width: 250px;
	height: 30px;
	background: #F7F7F0;
	border: 1px solid #835C3B;
	border-radius: 2px;
	color: #3B6182;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login-container input[type=email]{
	width: 250px;
	height: 30px;
	background: #F7F7F0;
	border: 1px solid #835C3B;
	border-radius: 2px;
	color: #3B6182;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login-container input[type=button]{
	width: 260px;
	height: 35px;
	background: #FFF;
	border: 1px solid #3B6182;
	cursor: pointer;
	border-radius: 2px;
	color: #835C3B;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.login-btn {
	width: 100px;
	height: 35px;
	background: #FFF;
	border: 1px solid #3B6182;
	cursor: pointer;
	border-radius: 2px;
	color: #835C3B;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

#loginLabel{
  	color: #000;
	font-size: 18px;
	font-weight: 500;
}

.loginLabel1{
  	text-decoration: underline;
  	color: #0000FF;
	font-size: 18px;
	font-weight: 500;
}

.login-container input[type=button]:active{
	opacity: 0.6;
}

.login-container input[type=password]:focus{
	outline: none;
	border: 1px solid #3B6182;
}

.login-container input[type=button]:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: #835C3B;
}

::-moz-input-placeholder{
   color: #835C3B;
}
   
/* -------- navBar view --------  */

.navBody{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background-image: url("./img/navBar.jpg");
	background-size: cover;
	z-index: 0;
	background-attachment: fixed; 
}

.navHeader{
	position: absolute;
	top: calc(10% - 40px);
	left: calc(50% - 260px);
	font-weight: bold;
	z-index: 2;
}

.navHeader div{
	float: left;
	color: #835C3B;
	font-size: 40px;
	font-weight: 250;
}

.navHeader div span{
	color: #3B6182 !important;
}

.navBar{
	position: absolute;
	top: calc(40% - 75px);
	left: calc(60% - 50px);
	height: 150px;
	width: 350px;
	padding: 10px;
	font-weight: bold;
	z-index: 2;
}

.navBar h1{
	color: #000080;
	font-size: 25px;
	font-weight: 500;
}

.navBar input[type=button]{
	width: 260px;
	height: 35px;
	background: #FFF;
	border: 1px solid #3B6182;
	cursor: pointer;
	border-radius: 2px;
	color: #835C3B;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

/* -------- question/answer create view format -------- */

.questionBody{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background-image: url("./img/question.jpg");
	background-size: cover;
	z-index: 0;
	background-attachment: fixed; 
}

.questionHeader{
	position: absolute;
	top: calc(10% - 40px);
	left: calc(80% - 260px);
	font-weight: bold;
	z-index: 2;
}

.questionHeader div{
	float: left;
	color: #835C3B;
	font-size: 40px;
	font-weight: 250;
}

.questionHeader div span{
	color: #3B6182 !important;
}

.question{
	position: absolute;
	top: calc(40% - 75px);
	left: calc(30% - 50px);
	height: 150px;
	width: 350px;
	padding: 10px;
	font-weight: bold;
	z-index: 2;
}

.question input[type=text]{
	width: 300px;
	height: 20px;
	background: #FFF;
	border: 1px solid #3B6182;
	cursor: pointer;
	border-radius: 2px;
	color: #835C3B;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.question-btn {
	width: 100px;
	height: 35px;
	background: #FFF;
	border: 1px solid #3B6182;
	cursor: pointer;
	border-radius: 2px;
	color: #835C3B;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

 /* -------- Quiz view -------- */

.quizBody{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background-image: url("./img/quiz.jpg");
	background-size: cover;
	z-index: 0;
	background-attachment: fixed; 
}

.quizHeader{
	position: absolute;
	top: calc(10% - 40px);
	left: calc(25% - 260px);
	font-weight: bold;
	z-index: 2;
}

.quizHeader div{
	float: left;
	color: #835C3B;
	font-size: 40px;
	font-weight: 250;
}

.quizHeader div span{
	color: #3B6182 !important;
}

.q{
	position: fixed;
	top: calc(38% - 75px);
	left: calc(35% - 50px);
	color: #835C3B;
	font-size: 60px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
	padding: 10px;
	font-weight: bold;
	z-index: 2;
}

.quizQuestion{
	position: fixed;
	top: calc(40% - 75px);
	left: calc(40% - 50px);
	width: 600px;
	height: 40px;
	color: #3B6182;
	font-size: 20px;
	font-weight: 500;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 15px;
}

.quiz{
	position: fixed;
	top: calc(50% - 75px);
	left: calc(40% - 50px);
	height: 150px;
	width: 350px;
	padding: 10px;
	font-weight: bold;
	z-index: 2;
}

.quiz ul{
	list-style-type: none;
	padding: 0;
	margin-left: 1em;
	color: #000;
	font-size: 18px;
	font-weight: 400;
	width: 500px;
}

.quiz-btn {
	position: fixed;
	top: calc(70% - 1em);
	left: calc(70% - 1em);
	width: 100px;
	height: 35px;
	background: #FFF;
	border: 1px solid #3B6182;
	cursor: pointer;
	border-radius: 2px;
	color: #835C3B;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.quiz input[type=radio]{
	margin-top: 30px;
	margin-right: 10px;
	cursor: pointer;
}

.quizAnswers {
	position: absolute;
	top: calc(50% - 75px);
	left: calc(40% - 50px);
	height: 150px;
	width: 500px;
	padding: 10px;
	font-weight: bold;
	z-index: 2;
}

/* ---------- Show user choices -------------- */

.choicesHeader{
	position: absolute;
	top: calc(10% - 40px);
	left: calc(25% - 260px);
	font-weight: bold;
	z-index: 2;
}

.choicesHeader div{
	float: left;
	color: #835C3B;
	font-size: 40px;
	font-weight: 250;
}

.choicesHeader div span{
	color: #3B6182 !important;
}

.choicesScore{
	position: absolute;
	top: calc(25% - 1em);
	left: calc(24% - 1em);
	font-size: 30px;
	font-weight: bold;
	z-index: 2;
}

.choices h1{
	position: relative;
	top: calc(50% - 1em);
	left: calc(6% - 1em);
	color: #3B6182;
	font-size: 25px;
	z-index: 2;
}

.choices {
	position: absolute;
	top: calc(40% - 1em);
	left: calc(20% - 1em);
	z-index: 2;
}

.reviewChoices li{
	list-style-type: none;
	padding: 10px;
}

.choicesCorrect {
	list-style-type: none;
	font-size: 20px;
	color: #000080;
	font-weight: bold;
}

li strong{
	font-size: 20px;
	padding-right: 10px;
}

.choicesSupportData {
	width: 800px;
	margin-top: 1em;
	color: #835C3B;
	background-color: #E5E4E2;
	font-size: 18px;
	font-weight: bold;
}

.choices-btn {
	position: relative;
	top: calc(70% - 1em);
	left: calc(70% - 1em);
	width: 125px;
	height: 35px;
	background: #FFF;
	border: 1px solid #3B6182;
	cursor: pointer;
	border-radius: 2px;
	color: #835C3B;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}