@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body{
	width: 0px;
	height: 0px;
	background-color: #EDC9AF;
	font-family: 'Exo', sans-serif;
}

@media screen and (max-width: 500px) {
/* applies only if the screen is narrower than 500px */
	.header {
	    position: static
	  }

	.login-container{
		position: static
	}
}
/* -------------- login view ------------------ */

.loginBody{
	position: fixed;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	background-image: url("./img/login.jpg");
	background-size: cover;
	z-index: 0;
}

.header{
	position: fixed;
	top: calc(10% - 1em);
	left: calc(10% - 1em);
	font-weight: bold;
	z-index: 2;
}

.header div{
	float: left;
	color: #835C3B;
	font-size: 40px;
	font-size: 2.5vw;
	font-weight: 250;
}

.header div span{
	color: #3B6182 !important;
}

.header p{
	margin-top: 10%;
	width: 50%;
	font-size: 20px;
	font-size: 1.5vw;
	color: #008000;
	background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    padding-left: 10px;
}

.login-container{
	position: fixed;
	top: calc(50% - 1em);
	left: calc(45% - 1em);
	padding: 10px;
	font-weight: bold;
	z-index: 2;
}

.login-container input[type=email]{
	width: 75%;
	height: auto;
	background: #F7F7F0;
	border: 1px solid #835C3B;
	border-radius: 2px;
	color: #3B6182;
	font-size: 16px;
	font-size: 1.1vw;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login-container input[type=password]{
	width: 75%;
	height: auto;
	background: #F7F7F0;
	border: 1px solid #835C3B;
	border-radius: 2px;
	color: #3B6182;
	font-size: 16px;
	font-size: 1.1vw;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login-container input[type=button]{
	width: 75%;
	height: auto;
	background: #FFF;
	border: 1px solid #3B6182;
	cursor: pointer;
	border-radius: 2px;
	color: #835C3B;
	font-size: 16px;
	font-size: 1.1vw;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.login-btn {
	width: 30%;
	height: auto;
	background: #FFF;
	border: 1px solid #3B6182;
	cursor: pointer;
	border-radius: 2px;
	color: #835C3B;
	font-size: 16px;
	font-size: 1.1vw;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.login-container button:hover{ 
	background:#FF0000;
	color: #000;
}

.loginLabel{
  	color: #000;
	font-size: 18px;
	font-size: 1.2vw;
	font-weight: 500;
}

.loginLabel1{
  	text-decoration: underline;
  	color: #0000FF;
  	cursor: pointer;
	font-size: 20px;
	font-size: 1.2vw;
	font-weight: 500;
}

.error{
	font-size: 30px;
	font-size: 2vw;
	color: #FF0000;
}
  
/* -------------- navBar view ----------------  */

.navBody{
	position: fixed;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	background-image: url("./img/navBar.jpg");
	background-size: cover;
	z-index: 0;
}

.navHeader{
	position: fixed;
	top: calc(10% - 1em);
	left: calc(35% - 1em);
	font-weight: bold;
	z-index: 2;
}

.navHeader div{
	float: left;
	color: #835C3B;
	font-size: 40px;
	font-size: 2.5vw;
	font-weight: 250;
}

.navHeader div span{
	color: #3B6182 !important;
}

.navBar{
	position: fixed;
	top: calc(30% - 1em);
	left: calc(60% - 1em);
	width: 75%;
	height: auto;
	padding: 10px;
	font-weight: bold;
	z-index: 2;
}

.navBar h1{
	color: #000080;
	font-size: 25px;
	font-size: 1.8vw;
	font-weight: 500;
}

.navBar input[type=button]{
/*	width: 90%;
	height: auto;*/
	background: #FFF;
	border: 1px solid #3B6182;
	cursor: pointer;
	border-radius: 2px;
	color: #835C3B;
	font-size: 16px;
	font-size: 1vw;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.navBar input[type=button]:hover{ 
	background:#FF0000;
	color: #000;
}

/* ------- create question/answer view -------- */

.questionBody{
	position: fixed;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	background-image: url("./img/question.jpg");
	background-size: cover;
	z-index: 0;
}

.questionHeader{
	position: fixed;
	top: calc(10% - 1em);
	left: calc(55% - 1em);
	font-weight: bold;
	z-index: 2;
}

.questionHeader div{
	float: left;
	color: #835C3B;
	font-size: 40px;
	font-size: 2.5vw;
	font-weight: 250;
}

.questionHeader div span{
	color: #3B6182 !important;
}

.question{
	position: fixed;
	top: calc(30% - 1em);
	left: calc(20% - 1em);
	padding: 10px;
	font-weight: bold;
	z-index: 2;
}

.question h2{
	text-decoration: underline;
	color: #FF0000;
	font-size: 20px;
	font-size: 1.5vw;
	font-weight: bold;
}

.question input[type=text]{
	width: 50%;
	height: auto;
	background: #FFF;
	border: 1px solid #3B6182;
	cursor: pointer;
	border-radius: 2px;
	color: #835C3B;
	font-size: 16px;
	font-size: 1.1vw;
	font-weight: bold;
	padding: 6px;
	margin-top: 10px;
}

.question-btn {
	width: 10%;
	height: auto;
	background: #FFF;
	border: 1px solid #3B6182;
	cursor: pointer;
	border-radius: 2px;
	color: #835C3B;
	font-size: 16px;
	font-size: 1.1vw;
	font-weight: bold;
	padding: 6px;
	margin-top: 10px;
}

.question button:hover{
	background: #FF0000;
	color: #000;
}

/* -------------- Quiz view ------------------- */

.quizBody{
	position: fixed;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	background-image: url("./img/quiz.jpg");
	background-size: cover;
	z-index: 0;

}

.quizHeader{
	position: fixed;
	top: calc(10% - 1em);
	left: calc(9% - 1em);
	width: 50em;
	height: 50em;
	font-weight: bold;
	z-index: 2;
}

.quizHeader div{
	float: left;
	color: #835C3B;
	font-size: 40px;
	font-weight: 250;
	width: 50em;
	height: 50em;
}

.quizHeader div span{
	color: #3B6182 !important;
}

.q{
	position: fixed;
	top: calc(38% - 1em);
	left: calc(36% - 1em);
	color: #835C3B;
	font-size: 60px;
	font-weight: 300;
	z-index: 2;
}

.quizCounter{
	position: fixed;
	top: calc(30% - 1em);
	left: calc(33% - 1em);
	color: Red;
}

.quizQuestion{
	position: fixed;
	top: calc(36% - 1em);
	left: calc(39% - 1em);
	width: 90%;
	max-width: 800px;
	height: auto;
	color: #3B6182;
	font-size: 25px;
	font-weight: 500;
}
 
.quizQuestion img{
	position: fixed;
	top: calc(31% - 1em);
	left: calc(10% - 1em);
	width:20%;
	height: auto;
}

.quiz{
	position: fixed;
	top: calc(40% - 1em);
	left: calc(35% - 1em);
	height: auto;
	font-weight: bold;
	margin-top: 25px;
	z-index: 2;
}

.quiz li{
	list-style-type: none;
	margin-left: 10px;
	margin-top: 20px;
	margin-right: 10px;
	color: #000;
	font-size: 18px;
	font-weight: 400;
	width: auto;
}

.quiz-btn {
	position: fixed;
	top: calc(70% - 1em);
	left: calc(70% - 1em);
	width: 100px;
	height: 35px;
	background: #FFF;
	border: 1px solid #3B6182;
	cursor: pointer;
	border-radius: 2px;
	color: #835C3B;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.quiz button:hover{ 
	background:#FF0000;
	color: #000;
}

/* ----------- Show user choices -------------- */

.choicesHeader{
	position: absolute;
	top: calc(5% - 1em);
	left: calc(15% - 1em);
	padding: 10px;
	font-weight: bold;
}

.choicesHeader div{
	float: left;
	color: #835C3B;
	font-size: 40px;
	font-weight: 250;
	padding: 10px;
}

.choicesHeader div span{
	color: #3B6182 !important;
}

.choicesScore{
	position: absolute;
	top: calc(25% - 1em);
	left: calc(24% - 1em);
	padding: 10px;
	font-size: 30px;
	font-weight: bold;
}

.choiceFeedback{
	position: absolute;
	top: calc(30% - 1em);
	left: calc(24% - 1em);
	font-size: 20px;
	width: 800px;
	padding: 5px;
	color: #FF0000;
	background-color: #E5E4E2;
}

.choices h1{
	position: relative;
	top: calc(30% - 1em);
	left: calc(4% - 1em);
	color: #3B6182;
	padding: 10px;
	font-size: 25px;
}

.choices {
	position: absolute;
	padding: 20px;
	top: calc(40% - 1em);
	left: calc(20% - 1em);
}

.reviewChoices li{
	list-style-type: none;
	padding: 10px;
}

.choicesCorrect {
	list-style-type: none;
	font-size: 20px;
	color: #000080;
	font-weight: bold;
}

li strong{
	font-size: 20px;
	padding-right: 10px;
}

.choicesSupportData {
	width: 800px;
	margin-top: 1em;
	color: #835C3B;
	background-color: #E5E4E2;
	font-size: 18px;
	font-weight: bold;
}

.choices-btn {
	position: absolute;
	left: calc(80% - 1em);
	width: 125px;
	height: 35px;
	background: #FFF;
	border: 1px solid #3B6182;
	cursor: pointer;
	border-radius: 2px;
	color: #835C3B;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.choices input[type=button]:hover{ 
	background:#FF0000;
	color: #000;
}