
<div class="page-header">
<h2>Create Questions and Answers</h2>
  <h3>Enter your Question and Answers Below</h3>
</div>
      <input class="input" ng-model="quiz.question" placeholder="write a question..."> 
      <input class="input" ng-model="quiz.answer" placeholder="write the correct answer...">
      <input class="input" ng-model="quiz.badAnswer1" placeholder="write an incorrect answer...">
      <input class="input" ng-model="quiz.badAnswer2" placeholder="write an incorrect answer...">
      <input class="input" ng-model="quiz.badAnswer3" placeholder="write an incorrect answer...">
      <button ng-click="clickCreate()">Save</button>

<!--     <ul class="box" style="list-style: none;"><li>
      <h3>Update Questions and Answers</h3>

        <li ng-repeat="item in questions" ng-repeat='item in answers'>
        <input id="update" ng-model="item.question" ng-change="saveQuestion(item)"/>
        <input id="update" ng-model="item.answer" ng-change="saveQuestion(item)"/>
        <input id="update" ng-model="item.badAnswer1" ng-change="saveQuestion(item)"/>
        <input id="update" ng-model="item.badAnswer2" ng-change="saveQuestion(item)"/>
        <input id="update" ng-model="item.badAnswer3" ng-change="saveQuestion(item)"/>
        <a href="#" ng-click="questions.$remove(item)">  Delete</a></li>
    </ul> 

<pre><code>{{ formDataTwo || json }}</code></pre>

</div> -->
<!-- <section id="profile">
  <div class="container">
    <div class="text-center">
      <h1>MY PROFILE:</h1>
      <hr class="star-primary">
    </div>
    <div class="row">
      <div class="col-sm-6 text-right"><strong>Email:</strong></div>
      <div class="col-sm-6 text-left"><input type="text" ng-model="profile.email" /></div>
    </div>
    <div class="row">
      <div class="col-sm-6 text-right"><strong>Gender:</strong></div>
      <div class="col-sm-6 text-left"><input type="text" ng-model="profile.gender" /></div>
    </div>
    <div class="row">
      <div class="col-sm-6 text-right"><strong>Age:</strong></div>
      <div class="col-sm-6 text-left"><input type="text" ng-model="profile.age" /></div>
    </div>
    <div class="row">
      <div class="col-sm-6 text-right"><strong>Bio:</strong></div>
      <div class="col-sm-6 text-left"><textarea ng-model="profile.bio" /></textarea>
    </div>
    <div class="row text-center">
      <button class="btn btn-primary btn-xs">Save</button>
    </div>
  </div> -->