
<div class="body"></div>
<div class="grad"></div>
<div class="header">

    <div>Wilderness Quiz Site:  <br><span>Test Your Backpacking Knowledge</span></div>

</div>
   
    <div class="login">
        <input type="text" placeholder="email log on" ng-model="email"><br>
        <input type="password" placeholder="password" ng-model="password"><br>
        <input type="button" value="Login">
    </div>

    
 <!--            <div strong>Email:</strong></div>
            <div><input type="text" ng-model="email" /></div>

        <div class="row text-center" ng-if="state == 'register'">
            <button class="btn btn-primary btn-xs" ng-click="clickRegister()">Register</button>
            <div>Need to <a ng-click="changeState('login')">login instead?</a></div>
        </div>


        <div class="row text-center" ng-if="state == 'login'">
            <button class="btn btn-primary btn-xs" ng-click="clickLogin()">Login</button>
            <div>Need to <a ng-click="changeState('register')">register instead?</a></div>
        </div>


        <div class="row bg-warning" ng-if="loginError">
            Login failed.
        </div>

        <div class="row bg-warning" ng-if="regError">
            Registration failed.
        </div> -->

    